#header {
    height: 50px;
    background: #007bff;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #007bff;
}

div.breadcrumbs {
    background: #6c757d;
    color: #007bff;
}

div.breadcrumbs a {
    color: #333;
}

.module h2,
.module caption,
.inline-group h2 {
    background: #6c757d;
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
    background: #007bff;
    color: #fff;
}